.blogCard {
  display: flex;
  align-items: center;
  gap: 100px;
  width: 100%;
  padding: 16px;
  margin-bottom: 24px;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: black;
  
}

.blogImage {
  width: 40%;
  max-width: 300px;
  border-radius: 10px;
  object-fit: cover;
  color: black;
  flex-shrink: 0;
}

.blogText {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  gap: 8px;
}

.blogTitle {
  font-size: 1.5rem;
  margin-bottom: 8px;
  font-family: monospace;
  color: rgb(0, 0, 0);
  text-align: center;
  align-items: center;
}

.blogDescription {
  font-size: 1rem;
  margin-bottom: 4px;
  font-family: monospace;
  color: rgb(0, 0, 0);
}

.blogPosted {
  font-size: 0.85rem;
  color: rgb(0, 0, 0);
  padding: 1px;
}